@page
@using Spootify.Components
@model PlaylistModel
@{
    ViewData["Title"] = "Your playlists";
}
<h1>@ViewData["Title"]</h1>
<p id="paragraph">Här kan du se och redigera dina spellistor.</p>

@(await Html.RenderComponentAsync<Playlist>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

