@using Microsoft.AspNetCore.Components.Web
@using Spootify.Models
@using Spootify.Services
@inject JsonFileSongService SongService


<h1 id="makePlaylist">Make a new Playlist here!</h1>

<input id="playlistNameId" class="playlistName" type="text" placeholder="Enter Playlist Name"/>
<button id="makePlaylistBtn" onclick="SavePlaylistTitle()">Make Playlist!</button>
<h1 id="playlistTitle"></h1>


@code {
}
